/.bundle
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
!/tmp/pids/
!/tmp/pids/.keep
/tmp/pids/*
!/tmp/storage/
/tmp/storage/*
!/tmp/storage/.keep
/storage/*
!/storage/.keep
/vendor/bundle
/node_modules
/config/master.key
/.env
/.env.*
